POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_HOST=

API_BASE_URL="https://jsonplaceholder.typicode.com"
API_USERS="https://jsonplaceholder.typicode.com/users"
API_POSTS="https://jsonplaceholder.typicode.com/posts"
API_COMMENTS="https://jsonplaceholder.typicode.com/comments"

CELERY_BROKER_URL="amqp://guest:guest@rabbitmq:5672//"